*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration:none;
    --customwhite:#F4F2F0;
    --customgray:#373234;
    --customred:#D84339;
}

a:visited{
    color:white;
}

a:hover{
    color:gray;
}

/*Header*/
.header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem 5%;
    background:var(--customgray);
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index:100;

}

.header::before{
    content:'';
    position: absolute;
    background: var(--customgray);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}

.logo{
    color:white;
    font-size:2rem;
    line-height:80px;
    font-weight:700;

}

.navbar a {
    font-size: 1.2rem;
    font-weight:500;
    margin-left: 2.5rem;
    font-weight: 500;
    letter-spacing: 1px;;
    font-family:'Archivo';
}

#check {
    display:none;
}
.icons {
    position:absolute;
    font-size: 2.8rem;
    right:5%;
    color: white;
    cursor:pointer;
    display: none;
}

@media(max-width:1024px){
   .header{
    padding: 1.1rem 5%;
   }
}

@media(max-width:768px){
   .icons {
    display: inline-flex;
   }

   #check:checked~.icons #menu-icon{
    display: none;
   }

   .icons #close-icon{
     display: none;
   }

   #check:checked~.icons #close-icon{
    display: block;
   }


   .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width:100%;
    height:0;
    background:var(--customgray);
    overflow: hidden;
   }

   #check:checked~.navbar {
    height: 17rem;
   }

   .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.6rem 0;
    text-align: center;
   }

}

/* Main */
body{
    background-color: var(--customwhite);
}
.hero-container{
    display: flex;
    flex-flow: column wrap;
    align-items:center;
    justify-content:center;
    gap:50px;
    margin:240px;
}

.hero-container h1{
    font-size: 3.5em;;
}
.hero-container h3{
    font-family: 'Archivo';
    font-size: 24px;
    font-weight:400;
}

@media screen and (max-width:1210px) {
    .hero-container h1{
        font-size:2em;
        padding:0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-container h3{
        font-size:0.9em;
        padding:0.5em;
    }
    
    
}

@media screen and (max-width:860px) {
    .hero-container h1{
        font-size:1.3em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-container h3{
        font-size:0.8em;
        padding:0.5em;
    }
}

    @media  (max-width:680px) {
        .hero-container h1{
            font-size:0.55em;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .hero-container h3{
            font-size:0.5em;
            padding:0.5em;
        }
        
               
            
}
.hero-container a{
    background-color:var(--customred);
    padding:15px;
    border-radius: 25px;
    font-weight:600;
    font-size: 15px;
    text-align: center;    
}
.hero-container a:hover{
    color:lightcoral;
}

.about-container{
    display:grid;
    background-color: var(--customgray);
    padding:120px 100px 100px 100px;
    color:white;
}

.about-grid{
    grid-template: 3fr 2fr/ 1fr 1fr;
    gap:20px;
    column-gap:100px;
    grid-template-areas:
     "description profile"
     "description information";

}
.about-profile{
    grid-area:profile;
    display: flex;
    justify-content:flex-start;
}

.about-description{
    grid-area:description;
    padding:75px 50px 50px 50px;
    text-align:center;
   
}

.about-information{
    grid-area: information;
}

#about-profile-picture{
    height:350px;
    width:350px;
    border-radius:20%;
    padding:0px 20px 20px 0px;
}
#About-Me{
    font-size:30px;
}
#text-description{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-flow:column;
    padding:0 50px 0 50px;
    font-size:26px;
    letter-spacing: 2px;
    
}
#text-description p{
    font-family:'Archivo';
    font-weight:400;
    text-justify:inter-word;
    
}
.about-information-flex{
    display:flex;
    gap:10px;
    padding-top:50px;
    font-size:22px;
}
.about-information-right{
    flex-basis:95%;
    flex-flow:column wrap;
}
.about-information-left{
    flex-basis:5%;
    flex-flow:column;
}
.about-information-left p,.about-information-right p{
    font-family: 'Archivo';
    font-weight:500;
    letter-spacing: 2px;
}

@media (max-width:1200px) {
    .about-container{
        display: flex;
        flex-flow:column wrap;
        padding:0.95em;
    }
    .about-information{
        order:3;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom:30px;
    }
    .about-information-flex{
        font-size:0.95em;
    }
    .about-profile{
        order:1;
        display: flex;
        justify-content: center;
    }
    .about-profile #about-profile-picture{
        height:250px;
        width:250px;
    }
    .about-description #text-description{
        order:0;
        display: flex;
        justify-content: center;
        font-size:0.95em; 
    }

    #About-Me{
        font-size:0.95em;

    }
}
@media (max-width:900px) {
    .about-container{
        display: flex;
        flex-flow:column wrap;
        padding:0.8em;
    }
    .about-information{
        order:3;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom:30px;
    }
    .about-information-flex{
        font-size:0.8em;
    }
    .about-profile{
        order:1;
        display: flex;
        justify-content: center;
    }
    .about-profile #about-profile-picture{
        height:200px;
        width:200px;
    }
    .about-description #text-description{
        order:0;
        display: flex;
        justify-content: center;
        font-size:0.8em; 
    }

    #About-Me{
        font-size:0.8em;

    }


}
@media (max-width:640px) {
        .about-container{
            display: flex;
            flex-flow:column wrap;
            padding:0.7em;
        }
        .about-information{
            order:3;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom:30px;
        }
        .about-information-flex{
            font-size:0.55em;
        }
        .about-profile{
            order:1;
            display: flex;
            justify-content: center;
        }
        .about-profile #about-profile-picture{
            height:175px;
            width:175px;
        }
        .about-description #text-description{
            order:0;
            display: flex;
            justify-content: center;
            font-size:0.55em; 
        }
    
        #About-Me{
            font-size:0.55em;
    
        }

 
}

.skills-container{
    display:grid;
    padding:80px 0px 80px 160px;
    column-gap: 165px;
}
.skills-grid{
    grid-template: 400px/ 40% 60%;
    grid-template-areas: "programming experience"
                         "programming experience";
}
.skills-programming{
    grid-area:programming;
    padding-left:40px;
}

.skills-experience{
    grid-area:experience;
}
.skills-title{
    font-size: 35px;
    padding-bottom: 30px;
}


.skills-second-title{
    font-size:20px;
    padding-bottom: 20px;
    font-family:'Archivo';
    letter-spacing: 2px;
    font-weight: 700;
}

.skills-list{
    padding-bottom:30px;
} 
.skills-list span{
    background-color:var(--customgray);
    display: inline-flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    line-height: 5vh;
    color:white;
    font-weight:600;
    padding:10px;
    border-radius:20px;
}
.skills-experience h4{
    font-size:26px;
}
.skills-experience h5,h6{
    font-family: 'Archivo';
    font-size:22px;
    font-weight:400;
}

@media (max-width:1210px){
    .skills-container{
        display:flex;
        flex-flow: column wrap;
        margin-left:60px;
        margin-right:60px;
    }

    .skills-list span{
        font-size:0.85em;
    }
    .skills-second-title{
        font-size:0.85em;
    }
    .skills-title{
        display: flex;
        justify-content: flex-start;
        padding-bottom:0px;
        font-size:2em;
    }
    .skills-experience{
        padding-left:40px;
    }
    .skills-experience h4{
        font-size:0.86em;
    }
    .skills-experience h5,h6{
        font-size:0.85em;
    }
}
@media (max-width:860px){
    .skills-container{
        display:flex;
        flex-flow: column wrap;
        margin-left:30px;
        margin-right:10px;
        padding:80px;
    }

    .skills-list span{
        font-size:0.7em;
    }
    .skills-second-title{
        font-size:0.7em;
    }
    .skills-title{
        display: flex;
        justify-content: flex-start;
        padding-bottom:0px;
        font-size:1.5em;
    }
    .skills-experience{
        padding-left:40px;
    }
    .skills-experience h4{
        font-size:0.75em;
    }
    .skills-experience h5,h6{
        font-size:0.75em;
    }
}
@media (max-width:650px){
    .skills-container{
        display:flex;
        flex-flow: column wrap;
        margin-left:40px;
        margin-right:20px;
        padding:70px;
    }

    .skills-list span{
        font-size:0.6em;
    }
    .skills-second-title{
        font-size:0.6em;
    }
    .skills-title{
        display: flex;
        justify-content: flex-start;
        padding-bottom:0px;
        font-size:1.2em;
    }
    .skills-experience{
        padding-left:40px;
    }
    .skills-experience h4{
        font-size:0.6em;
    }
    .skills-experience h5,h6{
        font-size:0.6em;
    }
}

/* Footer */


.footer-container{
    background-color: var(--customgray) ;
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;  
    padding:20px;
    color:white;
}

.Links{
    border-radius:25px;
}

.image-links{
    height: 75px;
    width: 75px;
    padding: 20px;
}

#copyright{
    display:flex;
    justify-content: center;
    background-color:var(--customgray)  ;
    color:white;
    padding-bottom:30px;
}

@media (max-width:650px){
    .image-links{
        height: 4em;
        width: 4em;
    }  

}
